
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_LayoutShow.cshtml";
}

<h2>Thanh Toán Hoàn Tất</h2>
<body style="text-align:center">
    <h2>Shopping Successfull</h2>
    <h4>Hóa Đơn của bạn đã được thanh toán. Bạn sẽ nhận được hàng ngay. Cảm ơn và Hẹn gặp lại quý khách !!!</h4>
    <a class="btn btn-success" href="@Url.Action("Index", "ProductClient")">Tiếp tục mua sắm...</a>

</body>

